* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--light-square-color: hsl(40, 70%, 60%);
	--dark-square-color: hsl(20, 82%, 30%);
	--border-color: hsl(20, 82%, 20%);
	--selected-color: rgba(129, 205, 213, 0.9);
	--highlight-color: rgba(129, 205, 213, 0.5);
	--button-color: rgb(42, 126, 159);
	--error-color: rgb(241, 126, 100);
	--width: min(95vmin, 45rem);
	--font-color: white;
	--secondary-font-color: #aaa;
	--bg-color: #222;
	--card-color: #333540;
}

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	background-color: var(--bg-color);
	color: var(--font-color);
	min-height: 100vh;
}

a {
	color: var(--secondary-font-color);
	border-radius: 0.125rem;
}

a:hover,
a:focus-visible {
	color: var(--font-color);
}

a:focus-visible {
	outline-offset: 0.2rem;
	outline: 0.1rem solid var(--font-color);
}

button {
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.button {
	background-color: var(--button-color);
	color: white;
	padding: 0.3rem 0.6rem;
	border-radius: 0.25rem;
	outline-offset: 0.1rem;
	font-size: 1.125rem;
}

.button:focus-visible {
	outline: 0.1rem solid var(--font-color);
}

.button[disabled] {
	opacity: 0.8;
	cursor: not-allowed;
}

img {
	display: block;
}

input[type="text"] {
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	border: none;
	cursor: pointer;
	max-width: 100%;
}

.input {
	background-color: var(--card-color);
	padding: 0.4rem;
	border-radius: 0.25rem;
	outline: 1px solid var(--secondary-font-color);
}

.input:focus-visible {
	outline: 0.1rem solid var(--font-color);
}

label {
	color: var(--secondary-font-color);
}

ul {
	list-style: none;
}
